@model MVCApplication.Models.Account.Registration

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        h1 {
            color: #f47619;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 25px;
            font-weight: normal;
            line-height: 30px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

        img {
            margin-top: 5px;
            width: 50px;
            height: 50px;
        }
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
    <link href="~/CSS/Registration.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="~/Images/Ics_icon.png" alt="Intech Creative Services The Desire to Perform" longdesc="Intech Creative Services The Desire to Perform Logo" align="left" class="icon-logo">
                    </li>
                    <li><h1>  INTECH Creative Services</h1></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row-fluid" style="">
            <div class="login-box login">
                <div class="login-box-body animated fadeInUp">
                    <form method="post" action="/Account/AddUser"
                          method="post" data-ajax-mode="replace" data-ajax="true" data-ajax-success="CallbackSuccess" data-ajax-method="post">
                        @Html.AntiForgeryToken()
                        <div id="">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">First Name</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-user icon"></i>
                                        @Html.TextBoxFor(model => model.first_name, new { @class = "form-control i", @id = "txtFirstName", @placeholder = "Please Enter First Name" })
                                    </div>
                                    <span id="spnFirstName" class="help-block text-danger">@Html.ValidationMessageFor(model => model.first_name)</span>
                                </div>

                                <div class="col-sm-6">
                                    <label class="control-label">Last Name</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-user icon"></i>
                                        @Html.TextBoxFor(model => model.last_name, new { @class = "form-control i", @id = "txtLastName", @placeholder = "Please Enter Last Name" })
                                    </div>
                                    <span id="spnLastName" class="help-block text-danger">@Html.ValidationMessageFor(model => model.last_name)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">User Name</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-user icon"></i>
                                        @Html.TextBoxFor(model => model.user_name, new { @class = "form-control i", @id = "txtUserName", @placeholder = "Please Enter User Name" })
                                    </div>
                                    <span id="spnUserName" class="help-block text-danger">@Html.ValidationMessageFor(model => model.user_name)</span>
                                </div>

                                <div class="col-sm-6">
                                    <label class="control-label">Email</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-envelope icon"></i>
                                        @Html.TextBoxFor(model => model.email, new { @type = "email", @class = "form-control i", @id = "txtEmail", @placeholder = "Please Enter Email" })
                                    </div>
                                    <span id="spnEmail" class="help-block text-danger">@Html.ValidationMessageFor(model => model.email)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Password</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-eye-slash icon" id="password-eye" onclick="PasswordEyeviewStatus('txtPassword','password-eye');"></i>
                                        @Html.TextBoxFor(model => model.password, new { @type = "password", @class = "form-control i", @id = "txtPassword", @placeholder = "Please Enter Password" })
                                    </div>
                                    <span id="spnPassword" class="help-block text-danger">@Html.ValidationMessageFor(model => model.password)</span>
                                </div>

                                <div class="col-sm-6">
                                    <label class="control-label">Re-type Password</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-eye-slash icon" id="retypepassword-eye" onclick="PasswordEyeviewStatus('txtRetypePassword','retypepassword-eye');"></i>
                                        @Html.TextBoxFor(model => model.retype_password, new { @type = "password", @class = "form-control i", @id = "txtRetypePassword", @placeholder = "Please Enter Retype Password" })

                                    </div>
                                    <span id="spnRetypePassword" class="help-block text-danger">@Html.ValidationMessageFor(model => model.retype_password)</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Mobile No.</label>
                                    <div class="form-group input-container">
                                        <i class="fa fa-phone icon"></i>
                                        @Html.TextBoxFor(model => model.mobile_number, new { @class = "form-control i", @id = "txtMobile", onkeypress = "return IsDigit(event);", @placeholder = "Please Enter mobile Number", maxlength = "10" })
                                    </div>
                                    <span id="spnmobileNumber" class="help-block text-danger">@Html.ValidationMessageFor(model => model.mobile_number)</span>
                                </div>

                                <div class="col-sm-6">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 text-left padding-left15">

                                </div>
                                <div class="col-xs-4 padding-right15 pull-right">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </form>

                </div>
            </div>


        </div>
    </div>

</body>
</html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<script src="~/Scripts/AlertMessage/sweetalert-data.js"></script>
<script src="~/Scripts/AlertMessage/sweetalert.min.js"></script>
<script src="~/JS/GeneralFunctions.js"></script>
<script src="~/JS/Registration.js"></script>

<script>
    $(document).ready(function () {
        $("#txtFirstName").val("");
        $("#txtLastName").val("");
        $("#txtUserName").val("");
        $("#txtMobile").val("");
        $("#txtEmail").val("");
        $("#txtPassword").val("");
        $("#txtRetypePassword").val("");
    });
</script>